<div class="app-dialog-container">
    <div class="dialog-header">
        <h2 id="app-dialog-title">{{this.data.TITLE}}</h2>
        <div class="push-element-to-right"></div>
        <a mat-dialog-close class="close-dialog" (click)="dialogRef.close()">
            <i class="material-icons">&#xE14C;</i>
        </a>
    </div>
    <div class="form-container">
        <!-- <hr class="line-header"> -->

        <div class="app-form">
            <form [formGroup]="form">
                <div class="general-form">
                    <mat-form-field class="header-search-box" appearance="none">
                        <mat-label>Name</mat-label>
                        <input matInput #focusInput placeholder="Enter an application's name" formControlName="name">
                        <mat-error *ngIf="form.controls['name'].hasError('required')">
                            Application's name is required.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="general-form">
                    <mat-form-field class="header-search-box txt-area" appearance="none">
                        <mat-label>Dscription</mat-label>
                        <input matInput #focusInput placeholder="Enter a description" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="radio-box">
                    <label class="app-radio-label">Select deployment language</label>
                    <br>
                    <mat-radio-group class="radio-space-around" formControlName="selected_app_type_value">
                        <mat-radio-button class="radio-text" *ngFor="let type of application_types" [value]="type"
                            (change)="onChangeApplicationType(type)">
                            {{type}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="radio-box">
                    <label class="app-radio-label">Select source code</label>
                    <br>
                    <mat-radio-group class="radio-space-around" formControlName="selected_source_code_value">
                        <mat-radio-button class="radio-text" *ngFor="let type of source_code_types" [value]="type"
                            (change)="onChangeSourceCodeType(type)">
                            {{type}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <ng-template
                    [ngIf]="this.selected_source_code_value.value=='Github' || this.selected_source_code_value.value=='Gitlab'">

                    <div class="general-form">
                        <mat-form-field class="header-search-box" appearance="none">
                            <mat-label>Repository URL</mat-label>
                            <input matInput #focusInput placeholder="Enter an repository's address"
                                formControlName="gitUrl">
                            <mat-error *ngIf="form.controls['gitUrl'].hasError('required')">
                                Repository's URL is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-template>

                <ng-template [ngIf]="this.selected_source_code_value.value=='Upload'">
                    <div class="general-form">
                        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                        <div class="file-upload">

                            {{fileName || "No file uploaded yet."}}

                            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>

                        <div class="progress">

                            <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                                *ngIf="uploadProgress">

                            </mat-progress-bar>

                            <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">
                                delete_forever</mat-icon>

                        </div>

                    </div>
                </ng-template>

                <div class="two-options">
                    <ng-template [ngIf]="this.selected_app_type_value.value=='Spring'">
                        <div class="radio-box">
                            <mat-label class="app-radio-label">Select JDK version</mat-label>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="nodejs_version" [compareWith]="compareWithFn">
                                    <mat-option *ngFor="let item of jdkVersion" [value]="item">
                                        JDK {{item.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['nodejs_version'].hasError('required')">
                                    JDK version is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="this.selected_app_type_value.value=='Spring'">
                        <div class="radio-box">
                            <mat-label class="app-radio-label">Select Build Tool</mat-label>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="build_tool" [compareWith]="compareWithFn">
                                    <mat-option *ngFor="let item of buildTool" [value]="item">
                                        {{item.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['build_tool'].hasError('required')">
                                    Build Tool is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-template>
                </div>

                <div class="two-options">
                    <ng-template [ngIf]="this.selected_app_type_value.value=='Spring'">
                        <div class="radio-box">
                            <mat-label class="app-radio-label">Select Project Build File</mat-label>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="spring_build_file" [compareWith]="compareWithFn">
                                    <mat-option *ngFor="let item of springBuiltFiles" [value]="item">
                                        Build To {{item}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['spring_build_file'].hasError('required')">
                                    Build File version is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-template>
                </div>

                <ng-template
                    [ngIf]="this.selected_app_type_value.value=='ReactJS' || this.selected_app_type_value.value=='Angular'">
                    <div class="radio-box">
                        <mat-label class="app-radio-label">Select Nodejs version</mat-label>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-select formControlName="nodejs_version" [compareWith]="compareWithFn">
                                <mat-option *ngFor="let item of nodeJSVersion" [value]="item">
                                    Nodejs {{item.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['nodejs_version'].hasError('required')">
                                NodeJS version is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-template>
            </form>
        </div>
        <div class="selected-app-logo">
            <img [src]="currentLogoSelected" alt="">
        </div>
    </div>
    <div class="dialog-footer">
        <!-- <div class="push-element-to-right2"></div> -->
        <div class="dialog-btn">
            <button mat-raised-button id="app-confirm-btn" (click)='onSave()'>   
                Deploy</button>
            <button mat-raised-button id="app-cancel-btn" class="cancel-btn" (click)="dialogRef.close()">Cancel</button>
        </div>

    </div>
</div>