<div class="service-card" >
    <div class="item-logo">
        <img src="./../../../assets/images/icons8-docker-144.png" alt="">
    </div>
    <div class="app-name">
        <p id="app-card-title">Deployment</p>
        <p id="app-card-sub-title">{{count}} {{count>1?'Applications':'Application'}}</p>
    </div>
</div>