<div class="app-dialog-container">
    <div class="dialog-header">
        <h2 id="app-dialog-title">{{this.data.TITLE}}</h2>
        <div class="push-element-to-right"></div>
        <a mat-dialog-close class="close-dialog" (click)="dialogRef.close()">
            <i class="material-icons">&#xE14C;</i>
        </a>
    </div>
    <div style="color: white;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: left;">
       <h5>Here is the detail {{this.data.TITLE}}</h5>
       <br>
       <p>Database Name: {{this?.data?.item?.db_name}}</p>
        <br>
       <p>Database Type: {{this?.data?.item?.db_type}}</p>
       <br>
       <p>IP: {{this?.data?.item?.ip}}</p>
       <br>
       <p>Port: {{this?.data?.item?.port}}</p>
       <br>
       <p>Username: {{this?.data?.item?.username}}</p>
       <br>
       <p>Password: {{this?.data?.item?.password}}</p>
       <br>
       <p>Connection Limit: {{this?.data?.item?.connection_limit}}</p>
       <br>
       <p>Status: {{this?.data?.item?.status.text}}</p>
    </div>
    <div class="dialog-footer">
        <!-- <div class="push-element-to-right2"></div> -->
        <div class="dialog-btn">
            <!-- <button mat-raised-button id="app-confirm-btn">Create</button>
            <button mat-raised-button id="app-cancel-btn" class="cancel-btn" (click)="dialogRef.close()">Cancel</button> -->
        </div>

    </div>
</div>
