<div class="login-form">
    <button id="app-app-name" mat-button (click)="auth.GoogleAuth()">
      Log in with Google
    </button>
    <button id="app-app-name" mat-button (click)="auth.GithubAuth()">
        Log in with Github
      </button>
  </div>