
  <div class="app-dialog-container">
    <div class="dialog-header">
        <h2 id="app-app-name">{{this.data.TITLE}}</h2>

    </div>
    
    <div  style="display: flex;justify-content: space-around;align-items: center;margin: 15px;">
        <button mat-flat-button color='primary' aria-label="Example icon button with a bookmark icon" (click)='onConfirm("yes")'>
          <mat-icon>checked</mat-icon>
        </button>
    
        <button mat-flat-button color='warn' aria-label="Example icon button with a bookmark icon" (click)='onConfirm("no")'>
            <mat-icon>close</mat-icon>
          </button>
      </div>
    
</div>
