<div class="user-profile-container">
  <div class="app-account-bar">
    <div class="tab-label"><h3>Manage Account</h3></div>
  </div>
  <hr>
  <div class="setting-container">
    <div class="setting-description">
      <div class="tab-label"><p>Profile</p></div>
    </div>
    <div class="setting-option"></div>
  </div>
  <hr>
  <div class="setting-container">
    <div class="setting-description">
      <div class="tab-label"><p>Password</p></div>
    </div>
    <div class="setting-option"></div>
  </div>
  <hr>
  <div class="setting-container">
    <div class="setting-description">
      <div class="tab-label"><p style="color: rgb(247, 82, 31);">Close Account</p></div>
    </div>
    <div class="setting-option"></div>
  </div>
</div>
