.side-logo{
    position: absolute;
    width: 156px;
    height: 1619px;
    left: 0px;
    top: 20px;
    text-align: center;
}
.logout{
    position: absolute;
    bottom: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
}