<div class="card-container" *mobxAutorun>
    <div class="card-item">
        <app-dashboard-card [count]='frontEndStore.deploySize' ></app-dashboard-card>
    </div>

    <div class="card-item">
        <app-database-card [count]='frontEndStore.databaseSize'></app-database-card>
    </div>
</div>
<br>
<app-app-listing-item></app-app-listing-item>


