<div class="service-card" *mobxAutorun>
    <div class="item-logo">
        <img src="./../../../assets/images/database.png" alt="">
    </div>
    <div class="app-name">
        <p id="app-card-title">Database</p>
        <p id="app-card-sub-title">{{count}} {{count>1?'Databases':'Database'}}</p>
    </div>
</div>
