<div class="filter-app">
  <div class="category-icon">
    <img src="../../../assets/images/category.png" alt="">
  </div>
<div style="margin-left: -25px;">
  <form [formGroup]="form">
    <mat-form-field appearance="none">
      <mat-select [formControl]="featureControl" name="feature" class="drop-text">
        <mat-option *ngFor="let feature of features" [value]="feature.value">
        <p id="filter-font" (click)='onFilterApp(feature.viewValue)'>{{feature.viewValue}}</p>  
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
  <div class="push-element-to-right2"></div>
  <div class="add-menu">
    <button mat-button [matMenuTriggerFor]="menu" [matMenuTriggerFor]="aboveMenu" #menuTrigger class="add-apps"><mat-icon>add</mat-icon></button>
    <mat-menu #menu="matMenu" #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)=" addDatabase()" class="drop-text">Database</button>
      <button mat-menu-item (click)=" addApplication()" class="drop-text">Application</button>
    </mat-menu>
  </div>
</div>
<ng-template [ngIf]="this.featureControl.value=='Database'">
<div class="app-listing-container" *ngFor="let item of dbStore.data">
      <app-database [item]="item"></app-database>
</div>
<div *ngIf="!dbStore.loading && dbStore.data?.length===0" id="app-header-title" style="text-align: center;">No data found!</div>
<app-loading-spinner *ngIf="dbStore.loading"></app-loading-spinner>
</ng-template>

<ng-template [ngIf]="this.featureControl.value=='All Applications'">
  <div class="app-listing-container" *ngFor="let item of appStore.data">
  <app-application [item]="item"></app-application>
</div>
<app-loading-spinner *ngIf='appStore.loading'></app-loading-spinner>
<div *ngIf="!appStore.loading && appStore.data?.length===0" id="app-header-title" style="text-align: center;">No data found!</div>
</ng-template>

<ng-template [ngIf]="this.featureControl.value=='Spring' || this.featureControl.value=='Angular' || this.featureControl.value=='ReactJS'">
  <div class="app-listing-container" *ngFor="let item of appStore?.filterData">
    <app-application [item]="item"></app-application>
  </div>
  <app-loading-spinner *ngIf='appStore.loading'></app-loading-spinner>
  <div *ngIf="!appStore.loading &&  appStore?.filterData?.length===0" id="app-header-title" style="text-align: center;">No data found!</div>
</ng-template>
<div class="bottom-space"></div>

