<div class="app-dialog-container">
    <div class="dialog-header">
        <h2 id="app-dialog-title">{{this.data.TITLE}}</h2>
        <div class="push-element-to-right"></div>
        <a mat-dialog-close class="close-dialog" (click)="dialogRef.close()">
            <i class="material-icons">&#xE14C;</i>
        </a>
    </div>
    <div class="form-container">
        <!-- <hr class="line-header"> -->

        <div class="app-form">
            <form [formGroup]="form">
                <div  class="general-form">
                    <mat-form-field class="header-search-box" appearance="none">
                        <mat-label>Name</mat-label>
                        <input matInput #focusInput placeholder="Enter a database's name" formControlName="name">
                        <mat-error *ngIf="form.controls['name'].hasError('required')">
                            Database's name is required.
                        </mat-error>
                    </mat-form-field>
                    </div>
                   
                    <div  class="general-form">
                    <mat-form-field class="header-search-box" appearance="none">
                        <mat-label>Description</mat-label>
                        <input matInput #focusInput placeholder="Enter a description" formControlName="description">
                    </mat-form-field>
                    </div>
                    <div class="radio-box">
                        <mat-radio-group
                         formControlName="selected_value">
                        <mat-radio-button class="radio-text"  *ngFor="let type of db_types" [value]="type" (change)="onChangeDBType(type)">
                            {{type}}
                        </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div  class="general-form">
                    <mat-form-field class="header-search-box" appearance="none">
                        <mat-label>Username</mat-label>
                        <input matInput #focusInput placeholder="Enter a username" formControlName="username">
                        <mat-error *ngIf="form.controls['username'].hasError('required')">
                            Username is required.
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div  class="general-form">
                    <mat-form-field class="header-search-box" appearance="none">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" #focusInput placeholder="Enter a password" formControlName="password">
                        <mat-error *ngIf="form.controls['password'].hasError('required')">
                            Password is required.
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div  class="general-form">
                        <mat-form-field class="header-search-box" appearance="none">
                            <mat-label>Connection Limit</mat-label>
                            <input matInput #focusInput type="number" placeholder="Enter a connection limit. Default 100" formControlName="connection_limit">
                            <mat-error *ngIf="form.controls['connection_limit'].hasError('required')">
                                Connection limit is required.
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div  class="general-form">
                            <mat-form-field class="header-search-box" appearance="none">
                                <mat-label>Database Port</mat-label>
                                <input matInput #focusInput type="number" placeholder="Enter database's port" formControlName="port">
                                <mat-error *ngIf="form.controls['port'].hasError('required')">
                                    Port is required.
                                </mat-error>
                            </mat-form-field>
                            </div>
            </form>
            </div>
        <div class="selected-app-logo">
           <img [src]="currentLogoSelected" alt="">
        </div>
    </div>
    <div class="dialog-footer">
        <!-- <div class="push-element-to-right2"></div> -->
        <div class="dialog-btn">
            <button mat-raised-button id="app-confirm-btn" (click)="onSave()">Create</button>
            <button mat-raised-button id="app-cancel-btn" class="cancel-btn" (click)="dialogRef.close()">Cancel</button>
        </div>

    </div>
</div>
