.dashboard-layout{
    top: 90px;
    position: absolute;
    justify-content: center;
    width: 100%;
    display: flex;
}
.line-header{
    position: absolute;
    width: 100%;
    height: 0px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 14%), 0 6px 6px rgb(255 255 255 / 14%);
    border: 1px solid #3E3D43;
}
.service-card{
    background: #26262E;
    width: 400px;
    height: 170px;
    top: 164px;
    padding: 15px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.service-card:hover{
    background: #020303;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(117, 117, 117, 0.19), 0 6px 6px rgb(0 0 0 / 23%);
}
.item-logo{
    img{
        width: 74px;
        object-fit: contain;
    }
 
}
.card-container{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 5px;
}
.user-profile{
    margin-right: 50px;
    width: 75px;
    height: 54px;
    align-items: center;
    margin-top: -13px;
    justify-content: center;
    display: flex;
    span{
        img{
            border-radius: 50%;
            width: 50px;
            object-fit: cover;
        }
    }
}
.service-list{
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    img{
        width: 38px;
        object-fit: contain;
        cursor: pointer;
        margin-right: 10px;
    }
}
.push-element-to-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.push-element-to-right2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.bottom-space{
    height: 168px;
    display: block;
}
.mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.loading-spinner{
    justify-content: center;
    text-align: center;
    display: flex;
}
mat-dialog-container {
    background-color: #0e0d0d!important;
    background: rgba( 44, 44, 44, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
@media (max-width: 440px) {
    .push-element-to-right{
        width: auto;
    }
  }
  
  @media (max-width: 1061px) {
    .card-container { grid-template-columns: repeat(1, 1fr); }
    .service-card{
        width: 600px;
    }
  }
@media (max-width: 720px) {
    .card-container { grid-template-columns: repeat(1, 1fr); }
    .service-card{
        width: 400px;
    }
  }

