
.app-dialog-container{
    display: flex;
    flex-direction: column;
    padding: 24px;

}

.dialog-header {
    // box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -28px;
    .title {
      font-size: 20px;
      font-weight: 700;
      padding-right: 40px;
    }
    .close-dialog {
      border: none;
      outline: none;
      cursor: pointer;
      color: red;
      font-size: x-large;
      background-color: transparent;
    }
  }
  .dialog-footer{
    display: flex;
    margin-right: 65px;
    margin-top: 30px;
    justify-content: flex-end;
    button{
        margin-left: 15px;
        min-height: 40px;
        border-radius: 5px;
        
    }
  }
  .form-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
      .app-form{
        width: 100%;
        margin: 4px;
      }
      .selected-app-logo{
        width: 100%;
        margin: 4px;
        img{
          width: 300px;
          margin: -210px 0px 0px 25px;
          object-fit: contain;
        }
      }
  }
  .cancel-btn{
    background: #8F9091;
  }
  .dialog-btn{
    button{
      border-radius: 15px;
    }
  }
  form{
    .mat-form-field-wrapper {
     padding: 17px;
  }
  .mat-error {
    margin-top: 15px;
    display: block;
}
  mat-label {
    color: #141313;
  }
  .mat-select-arrow{
    color: #FFFFFF;
  }
  }

  .radio-box{
    margin-top: 15px;
    .app-radio-label{
      font-family: Poppins;
      font-style: normal;
      font-weight:400;
      font-size: 18px;
      padding-left: 17px;
      line-height: 45px;
      color: #FFFFFF;
    }
    .radio-space-around{
      justify-content: space-around;
      display: flex;
    }
  }
  .progress{
    display: flex;
    color: #ff4747;
    justify-content: center;
    align-items: center;
  }
  .file-upload{
    padding: 6px;
  }
  .cancel-upload{
    cursor: pointer;
  }
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

/* Font color */
input.mat-input-element {
  color: white;
}
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: #ffff !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #00C851 !important;
  }