.header-layout{
  margin: 0px 1px 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0 !important;
  background: #141313;
  }
  
  .header-content{
      display: flex;
      // margin: 20px 1px 1px 40px;        
      // height: 80px;
      margin-left: 20px;
      align-items: center;
      justify-content: center;
      .title{
        min-width: 257px;
        cursor: pointer;
      }
  }
  .header-search-box {
    width: 408px;
    margin-top: -32px;
    font-size: 20px;
    font-weight: 500;
      input{
          font-family: Chakra Petch;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
        //   text-align: center;
          color: #000000;
          outline: none;
      }
    }
    .searchbox{
      position: absolute;
      width: 335px;
      height: 41px;
      right: 165px;
      top: 111px;
      background: #F1F1F1;
      border-radius: 15px;
    }

    .general-form{
      height: 50px;
    background: #F1F1F1;
    border-radius: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    color: #000000;
        .mat-form-field-infix {
            display: block;
            position: relative;
            flex: auto;
            min-width: 0;
            margin-top: 3px;
            width: 180px;
            color: #F1F1F1;
        }
    }
    .two-options{
      display: flex;
      width: 200px;

    }

    .app-listing-container{
      flex-direction: column;
  }
  
  .app-listing-item{
      background: #26262E;
      width: 100%;
      min-width: 300px;
      height: 70px;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 0px;
      margin: 10px 0px 0px 0px;
  
      img{
          width: 60px;
          height: 63px;
          object-fit: contain;
          margin: 10px;
      }
  }
  .app-listing-detail{
      max-width: 100%;
      width: 100%;
      text-align: left;
  }
  .more-menu{
      display: block;
      font-size: medium;
      color: #ffffff;
      padding-right: 15px;
  }
  .status{
      color: green;
      margin-right: 30px;
  }
  .app-listing-item:hover{
      background: #34343B;
      cursor: pointer;
  }
  .filter-app{
      display: flex;
      align-items: center;
  }
  .add-menu{
      display: flex;
  }
  .category-icon{
      display: flex;
      img{
          width: 70px;
          height: 70px;
          object-fit: contain;
      }
  }   
  .login-form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    background: rgba( 247, 247, 247, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  @media (max-width: 720px) {
      .push-element-to-right{
          width: auto;
      }
    }
  
    @media (max-width: 1280px) {
      .header-layout{
        width: 100%;
        margin: 0px 1px 30px 0px;
        right: 4px;
      }
    }
    @media (max-width: 1076px) {
      .searchbox {
        display: none;
      }
    }
    @media (max-width: 983px) {
      .selected-app-logo{
        display: none;
      }
    }