#app-main-background-color{
    background: #1D1B22;
    width: 100%;
    height: 100%;
}
#app-header-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    color: #FFFFFF;
}
#app-sub-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #AFAFAF;
}
#app-card-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 54px;
    text-align: left;
    color: #00C851;
}
#app-card-sub-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: left;
    color: #FFFFFF;
}
#app-app-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    // text-align: center;
    color: #FFFFFF;
}
#app-logout{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    // text-align: center;
    color: #FFFFFF;
}
#filter-font{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #34343B;
    span{
        color: white;
    }
}
#app-description{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    // text-align: center;
    color: #AFAFAF;
}
#app-dialog-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: left;
    color: #FFFFFF;
    width: 100%;
}
#app-dialog-app-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
#app-dialog-input-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
#app-confirm-btn{
    font-family: Poppins;
    font-style: normal;
    // font-weight: bold;
    font-size: 18px;
    // line-height: 36px;
    // text-align: center;
    color: #00796B;
}
#app-cancel-btn{
    font-family: Poppins;
    font-style: normal;
    // font-weight: bold;
    font-size: 18px;
    // line-height: 36px;
    // text-align: center;
    color: #FFFFFF;
}
#app-input-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;    
    text-align: center;
    color: #000000;
}
.drop-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
.radio-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 15px;
}
.add-apps{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
// #history-log{

// }
// #app-content-text{
    
// }