.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 156px;
    background: #26262E;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    z-index: 112;
    &.mobile{
      width: 0;
    }
    .ac-ln-background{
      // backdrop-filter: saturate(180%) blur(10px);
      background-color: rgba(255,255,255,0.7);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    .mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
      border-radius: 0;
    }
    .mat-expansion-panel-content{
      background-color:transparent;
      border-radius: 0;
    }
    .mat-expansion-panel {
      border-bottom: 1px solid $sideBorder;
      backdrop-filter: saturate(180%) blur(10px);
      background-color: rgba(255,255,255,0.2);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    }
    .mat-expansion-panel-body {
      padding: 0 0 24px;
    }
    .mat-content {
      flex-direction: column;
    }
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
    .mat-expansion-panel-header-description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      position: relative;
      font-family: $appFont;
      margin: 2px 0;
  
      color: #616770;
      transition: opacity .15s cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
    .mat-expanded {
      background-color: transparent;
      .mat-expansion-indicator {
        &:after {
          display: block;
        }
      }
    }
    .mat-expansion-panel-spacing {
      margin: 0;
    }
    .mat-expansion-panel-header-title {
      color: $sideColor;
      display: none;
      font-family: $appFontTitle;
    }
    .mat-expansion-panel-header-description {
      display: none;
    }
    .mat-expansion-indicator {
      position: relative;
      margin-right: 6px;
      &:after {
        color: $sideColor;
        display: block;
      }
    }
  }
  
  
  @media (max-width: 1280px) {
    .sidebar{
      display: none;
    }
  }
  