.user-profile-container{
    display: flex;
    flex-direction: column;
    .app-account-bar{
    background: #ffffff;
    min-height: 60px;
    display: flex;
    align-items: center;
    width: 100vw;
    .tab-label{
        text-align: left;
        padding-left:20px;;
    }
    }
    .setting-container{
        display: flex;
        background: #ffffff;
        min-height: 200px;
        display: flex;
        align-items: center;
        width: 100vw;
        .setting-description{
            .tab-label{
                p{
                    text-align: left;
                    padding-left:20px;
                    display: flex;
                    font-weight: 700;
                    align-items: center;
                    justify-content: center;
                }
              
            }
        }
    }

}