/* You can add global styles to this file, and also import other style files */
@import "./assets/app.scss";
*{margin: 0; padding: 0;}

*,
*:hover {
    outline: none;
}
html,
body {
  height: 100%;
  max-width:  1920px;
  margin: 0 auto;
  font-family: Ubuntu;
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  caret-color:  $primary !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color:  $primary;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,.mat-form-field.mat-focused .mat-form-field-label {
  color:  $primary;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary;
  height: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

