<div class="app-listing-item">
    <div class="app-item-logo">
      <ng-template [ngIf]="item.language=='ReactJS'">
        <img [src]="reactjsLogo" [alt]="item?.description">
      </ng-template>
      <ng-template [ngIf]="item.language=='Angular'">
        <img [src]="angularLogo" [alt]="item?.description">
      </ng-template>
      <ng-template [ngIf]="item.language=='Spring'">
        <img [src]="springLogo" [alt]="item?.description">
      </ng-template>
    </div>
    <div class="app-listing-detail">
        <h2 id="app-app-name">{{item?.app_name}}</h2>
        <p id="app-description">{{item?.description}}</p>
    </div>
    <div class="push-element-to-right"></div>
    <div class="status">
        <span app-app-name>{{item?.status?.text}}</span>
        <!-- <mat-icon>fiber_manual_record</mat-icon> -->
    </div>
    <div class="more-menu">
        <button mat-icon-button [matMenuTriggerFor]="appmenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #appmenu="matMenu">
            <button mat-menu-item (click)="onOpenAppDetail(item)">
              <mat-icon>dashboard</mat-icon>
              <span>Detail</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>play_arrow</mat-icon>
              <span>Start</span>
            </button>
            <button mat-menu-item>
              <mat-icon>stop_circle</mat-icon>
              <span>Stop</span>
            </button>
            <button mat-menu-item (click)='onDelete(item)'>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
    </div>
  </div>